.info{
    margin-top: 200px;
    display:flex;
    gap: 50px;
    .info_content{
        margin-top: 18%;
        #info_title{
            font-family: 'Syne', sans-serif;
            font-weight: 900;
        }
        #info_text{
            font-family: 'Syne', sans-serif;
        }
        #info_btn{
            padding: 10px 30px;
            border: 2px solid red;
            background-color: transparent;
            font-family: 'Syne', sans-serif;
        }
    }
}